<div class="row spacer">
    <phone-rng></phone-rng>
    <hr />
</div>
<div class="row spacer">
  <phone-updown></phone-updown>
  <hr />
</div>
<div class="row spacer">
  <phone-dropdown></phone-dropdown>
  <hr />
</div>
<div class="row spacer">
  <phone-dropdownextreme></phone-dropdownextreme>
  <hr />
</div>
<div class="row spacer">
  <phone-slider></phone-slider>
  <hr />
</div>  
<div class="row spacer">
  <phone-timer></phone-timer>
  <hr />
</div>
<div class="row spacer">
  <phone-checkbox></phone-checkbox>
  <hr />
</div>